#content-video-bg{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}
#menu-controle {
    position: absolute;
    bottom: 60px;
    right: 60px;
    padding: 5px;
    width: 10px;
    height: 10px;
    text-align: center;
    /*background-image: "assets/images/icons/unmute.png";*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 60px;
}

#icon-mute {
    margin-top:-25px;
    margin-left: -25px;
}


