:root {
    font-size: 60%;

    --color-background: rgb(0, 0, 0);
    --color-menu-lateral-bg: rgb(42, 42, 42);
    --color-menu-lateral-text: #ececec;
}

* {
    color: var(--color-menu-lateral-text);
}
@font-face {
    font-family: 'SignPainter';
    src: url('../fonts/SignPainter-HouseScript.ttf') format('truetype');
}

#logo-image{
    left: 18px;
    position: absolute;
    top: 10px;
    z-index: 1000;
}

#menu-lateral{
    margin: 0px;
    list-style: none;
    background-color: rgb(42 42 42/32%);
    overflow: overlay;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    padding: 70px 10px 0px 0px;
    width: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
}
#menu-lateral li a {
    color: var(--color-menu-lateral-text);
    text-decoration: none;
    width: 100%;
    padding: 10px 20px;
    display: table;
}
#menu-lateral::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
#menu-lateral::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
#menu-lateral::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
#menu-lateral li.nav-logo {
    margin-bottom: 40px;
}
#menu-lateral li {
    list-style: none;
    margin: 20px 0;
}

.navbar-toggler {
    background-color: red;
}

#page-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.content-page {
    padding-left: 90px;
}
.image-destaque {
    height: 45rem;
    position: fixed;
    bottom: 0;
    right: 150px;
    opacity: 1;
}
@media screen and (max-width: 991px){
    .content-page {
        padding-left: 0px;
    }
    .content-page-image {
        display: none;
    }
}