<link rel="stylesheet" href="./views/servers/style.css">
<div class="content-page">
    <div class="content-page-titulo jumbotron">
        <h1>Servidores</h1>      
    </div>
    <ul id="lista-servers" class="list-group">
        <li class="list-group-item">
            Servidor 1 <span>Descricao 1</span>
        </li>
        <li class="list-group-item">
            Servidor 2 <span>Descricao 2</span>
        </li>
        <li class="list-group-item">
            Servidor 3 <span>Descricao 3</span>
        </li>
    </ul>
</div>
<img src="./assets/images/servers.png" alt="" class="content-page-image image-destaque" />