<link rel="stylesheet" href="./views/servers/style.css">
<div class="content-page">
    <div class="content-page-titulo jumbotron">
        <h1>Servidores</h1>      
    </div>
    <ul id="lista-servers" class="list-group">
    </ul>
</div>
<img src="./assets/images/servers.png" alt="" class="content-page-image image-destaque" />

<script>

    $(document).ready(function() {
        requestServer({}, hostServer + '/servidor', 'GET', function (err, res) {

            $("#lista-servers").html(
                res.map((obj) => {
                    return `<li data-key="${obj.id}"  class="list-group-item">
                        <p>${obj.name} ${obj.ip} <span>${obj.descricao}</span></p>
                    </li>`
                }).join('')
            )

        });

    });

</script>
