#page-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("../../assets/images/server-bg.jpg");
}
#lista-servers {
    min-width: 320px;
    width: 40%;
    margin: auto;
    list-style: none;
    margin:0px;
    padding: 10px;
}
#lista-servers li {
    background-color: #ff1b1b;
    color: white;
    border-radius: 15px;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    position: relative;
}
#lista-servers li img {
    width: 25px;
    height: 25px;
    left: 10px;
    position: absolute;
}
#lista-servers li span {
    float: right;
}