<link rel="stylesheet" href="./views/home/style.css">
<div class="content-page">
    <video id="content-video-bg" autoplay loop>
        <source src="./assets/videos/video.mp4" type="video/mp4">
    </video>
    <div class="content-page-titulo jumbotron">
        <h1>UM NOVO MUNDO</h1>
        <p>PlayZ é um servidor personalizado do GTA V que permite você e seus amigos se aventurarem em grandes aventuras ou até mesmo nas piores emboscadas.</p>    
    </div>
    <div id="menu-controle">
        <img id="icon-mute" src="assets/images/icons/unmute.png" width="50px">
    </div>
</div>
<script>

    $(document).ready(function() {

        const videoPlay = document.getElementById('content-video-bg');
        const menuControle = document.getElementById('menu-controle');
        var iconMute = document.getElementById('icon-mute')
        let menuControleToggle = true;

        menuControle.addEventListener('click', function(e) {
            if (menuControleToggle) {
                menuControleToggle = false;
                videoPlay.volume = 0;
                iconMute.src = "assets/images/icons/mute.png"
            } else {
                menuControleToggle = true;
                videoPlay.volume = 1;
                iconMute.src = "assets/images/icons/unmute.png"
            }
        })

    })

</script>