<link rel="stylesheet" href="./views/vips/style.css">
<div class="content-page">
    <div class="content-page-titulo jumbotron">
        <h1>Vip's</h1>      
    </div>
    <ul id="lista-vips">
    </ul>
</div>
<img src="./assets/images/vip.png" alt="" class="content-page-image image-destaque" />

<script>

    $(document).ready(function() {

        requestServer({}, hostServer + '/vip', 'GET', function (err, res) {

            $("#lista-vips").html(
                res.map((vip, count) => {
                    return `<li data-key="${vip.id}" class="${count == 1 ? 'small' : ''}">
                        <p>${vip.name}</p>
                        ${
                            vip.descricao.split('</br>').map((b)=> {
                                return `<div>${b}</div>`;
                            }).join('')
                        }
                    </li>`
                }).join('')
            )
        });

    });
</script>